LOGLEVEL: 10

THINGSPEAK:
  CHANNELID: 0000
  APIKEY: <KEY>

TWILIO:
  SID:    <SID>
  TOKEN:  <KEY>
  TO:     5551112222
  FROM:   5552223333
  PAUSE:  True

DOORMAIN:
  UPGPIO:     22
  DOWNPGPIO:  23

DOORSIDE:
  UPGPIO:     24
  DOWNPGPIO:  25

ALARMS:
  RETRY:      60
  TEMPMIN:    40
  TEMPMAX:    90
  DOORTIME:   60