LOGLEVEL: 10

THINGSPEAK:
  CHANNELID:  ####
  APIKEY:     XXXXXXXXXXXXXXXX

MQTT:
  BROKER:   <FQDN OR IP>
  PORT:     1883  #usually 1883
  CLIENTID: <device name/id)
  USER:     <username>
  PASS:     <password>
  TOPIC:    <topic path>
  